# Ignore local env and credentials
.env
firebase-credentials.json
.env.*

# Python artifacts
__pycache__/
*.pyc

# Virtual env
venv/
.venv/

# Database
*.db

# Logs
*.log
*.txt

# Dashboard node modules
node_modules/
.next/
out/

# Editor files
.vscode/
*.swp